################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/202101
/Etalon
/PostgreSQL. Введение в основы.pdf
/БФТ.docx
/Литература по БД.docx
/Reader1/.vs/Reader1
