################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/202101
/Etalon
/PostgreSQL. Введение в основы.pdf
/БФТ.docx
/Литература по БД.docx
/Reader1/.vs/Reader1
/Reader1/Reader1/bin/Debug
/Reader1/Reader1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Reader1/Reader1/obj/Debug/Reader1.csproj.AssemblyReference.cache
/Reader1/Reader1/obj/Debug/Reader1.csproj.CoreCompileInputs.cache
/Reader1/Reader1/obj/Debug/Reader1.csproj.FileListAbsolute.txt
/Reader1/Reader1/obj/Debug/Reader1.csproj.GenerateResource.cache
/Reader1/Reader1/obj/Debug/Reader1.csproj.SuggestedBindingRedirects.cache
/Reader1/Reader1/obj/Debug/Reader1.csproj.Up2Date
/Reader1/Reader1/obj/Debug/Reader1.exe
/Reader1/Reader1/obj/Debug/Reader1.exe.config
/Reader1/Reader1/obj/Debug/Reader1.Form1.resources
/Reader1/Reader1/obj/Debug/Reader1.FormMain.resources
/Reader1/Reader1/obj/Debug/Reader1.Forms.FormSetting.resources
/Reader1/Reader1/obj/Debug/Reader1.pdb
/password.txt
/Reader1/packages
